 # Настройки базы данных
 DB_HOST=ваш_хост(localhost)
 DB_PORT=ваш_порт(5432)
 DB_USER=ваш_пользователь
 DB_PASS=ваш_пароль
 DB_NAME=ваше_название

 # Настройки Telegram-бота
TELEGRAM_BOT_TOKEN=ваш_токен_телеграм_бота

 # Настройки API-токенов
API_TOKEN=e4oEaZY1Kom5OXzybETkMlwjOCy3i8GSCGTHzWrhd4dc563b  # Токен для IMEICheck

# JWT-токены
SECRET_KEY=ваш_секретный_ключ
ACCESS_TOKEN_EXPIRE_MINUTES=время(30)

# Белый список пользователей
WHITE_LIST=телеграм_id_пользователя(ваш, разрешенного пользователя)
